{% extends "layout.html.twig" %}

{% block title %}Auteur{% endblock %}

{% block content %}
    <a href="{{ path('homepage') }}">Home</a> -> <a href="{{ path('listWithAuthors') }}">list page</a>
    <div class="col-md-8">
        <h2>Auteur:</h2>
        <p>Email: {{ user.email }}</p>
        <p>Téléphone: {{ user.phone }}</p>
        <hr>
        <h2>Ses articles</h2>
        {% for article in articles %}
        <article>
            <h3>
                <a href="{{ path('article', {id:article.id}) }}">{{ article.title }}</a>
            </h3>
            <p>{{ article.content }}</p>
            <p>publié le {{ article.date_publi }}</p>
        </article>
        {% endfor %}
    </div>
    <div class="col-md-4">
        {% if articleForm %}
            {{ form_start(articleForm) }}
                <div class="form-group">
                    {{ form_errors(articleForm.title) }}
                    {{ form_widget(articleForm.title, { 'attr':  {
                        'class': 'form-control',
                        'placeholder': 'Enter your title'
                    }}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(articleForm.content) }}
                    {{ form_widget(articleForm.content, { 'attr':  {
                        'rows': '4',
                        'class': 'form-control',
                        'placeholder': 'Enter your content'
                    }}) }}
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Publish comment" />
                </div>
            {{ form_end(articleForm) }}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% else %}
            <a href="{{ path('login') }} ">Log in</a> to add comments.
        {% endif %}
    </div>
{% endblock %}